.header {
  display: flex;
  align-items: center;    /* Vertically centers */
  justify-content: center;
  height: 15px;
  padding: 25px; /* Space inside the header */
  text-align: center; /* Center-aligns child elements like text */
  background-color: #1abc9c; /* Set a background color */
  color: white; /* Font color for text inside */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.222' height='29.003' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23009688ff'/><path d='M58.592-14.503h-16.74m6.277 3.627H56.5l4.188 7.25h-8.373zM60.686 3.623l-4.187 7.25h-8.372l4.187-7.25zM41.852-7.252l4.185 7.25-4.185 7.252L37.666 0zm25.11 7.25L58.593 14.5h-16.74L33.481-.001l8.371-14.501m16.74-.001l8.37 14.502m0 0h-16.74v0m-8.37-14.501l8.37 14.502-8.37 14.503M8.371-14.502H-8.37m6.276 3.627h8.371l4.188 7.25H2.093zM10.464 3.624l-4.186 7.25h-8.373l4.187-7.25zM-8.37-7.251L-4.185 0-8.37 7.252-12.556 0zM16.74 0l-8.37 14.502H-8.37L-16.742 0l8.371-14.501m16.74-.001L16.741-.001m0 0H.001v0m-8.37-14.501L0 0l-8.37 14.503m6.275 3.625h8.372l4.187 7.25H2.093zm12.558 14.499l-4.187 7.25h-8.372l4.187-7.25zM-8.371 21.752l4.185 7.25-4.185 7.252-4.185-7.251zm25.112 7.25L8.37 43.504H-8.37l-8.371-14.502 8.37-14.501M8.37 14.5l8.372 14.502m0 0H0v0M-8.37 14.502L0 29.003l-8.37 14.503M48.13 18.127l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM41.852 21.751l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74L33.48 29.003m25.11-14.503l8.372 14.503m0 0h-16.74v0m-8.371-14.501l8.37 14.501-8.37 14.503M33.482 0h-16.74m6.276 3.627l8.371.001 4.188 7.25h-8.373zm12.557 14.5l-4.187 7.249-8.372.001 4.187-7.25zM16.741 7.25l4.185 7.25-4.185 7.252-4.186-7.252zm25.11 7.25l-8.37 14.502h-16.74m25.11-14.502h-16.74v0M16.742 0l8.37 14.502-8.37 14.503'  stroke-linecap='square' stroke-width='1' stroke='%2300bcd4ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

}

body {
/* display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  min-height: 80vh;*/

  background-color: #58c8cc;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.nav-ul {
list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: #1abc9c;
}

nav li {
  float:left; /* Or use display: inline-block; */
  margin-right: 20px;
  color: white;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

button {
  -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: lightblue;
     border: solid 1px #3498db;
     border-radius: 6px;
     line-height: 4px;
     overflow: hidden;
     padding: 6px; 
     color: white;
}

span {
  font-size: 16px;
  margin-top: 5px;
}

.container{
  display: flex;
  width: 100%;
}

.medicine-checkup{
  gap: 10px;
  display: flex;
  flex-direction: column;
    width: 30%;
    height: 350px;
    margin: 15px;
    justify-content: space-between;
    white-space: pre-wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f7fb;
    border: solid 1px #3498db;
    padding: 15px;
    border-radius: 10px;
      background-color: rgba(255, 248, 240, 0.4); 
      justify-content: space-between;
}

h3 {
  border-bottom: 1px solid black; /* Width, Style, Color */
  padding-bottom: 10px;           /* Space between text and line */
  display: inline-block; 
}

.note-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  order: 1;
}

.note-button{
  order: 2;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  height: 25px;
  cursor: pointer;
}

.calendar {
    width: 40%;
    height: 350px;
    margin: 15px;
    width: 500px;
    background-color: #f0f7fb;
    border: solid 1px #3498db;
    padding: 15px;
    border-radius: 6px;
    background-color: rgba(255, 248, 240, 0.4); 
}

.exercises {
  gap: 10px;
  display: flex;
  flex-direction: column;
    width: 30%;
    height: 350px;
    margin: 15px;
    justify-content: space-between;
    white-space: pre-wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f7fb;
    border: solid 1px #3498db;
    padding: 15px;
    border-radius: 10px;
      background-color: rgba(255, 248, 240, 0.4); 
}

.doctor-contacts{width: 20%;
  gap: 10px;
  display: flex;
  flex-direction: column;
    width: 50%;
    height: 350px;
    margin: 15px;
    justify-content: space-between;
    white-space: pre-wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f7fb;
    border: solid 1px #3498db;
    padding: 15px;
    border-radius: 10px;
      background-color: rgba(255, 248, 240, 0.4); 
  }

.notes{
  gap: 10px;
  display: flex;
  flex-direction: column;
    width: 50%;
    height: 350px;
    margin: 15px;
    justify-content: space-between;
    white-space: pre-wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f7fb;
    border: solid 1px #3498db;
    padding: 15px;
    border-radius: 10px;
      background-color: rgba(255, 248, 240, 0.4); 
}

.notes-container {
  display: flex;
  flex-direction: column;
  min-height: auto;        /* O min-height: 400px, lo que necesites */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

}

.add-button {
    margin-top: auto;        /* Empuja el botón al fondo */
  width: 100%;
  padding: 8px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-button {
  height: 25px;
    cursor: pointer;
}

.body-login {
 display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.wrapper {
  width: 520px;
  background: transparent;
  color: #fff;
  border-radius: 12px;
  border: solid white 1px;
}


.wrapper h1 {
  font-size: 36 px;
  text-align: center;
}

.wrapper .input-box{
  position: relative;
  width: 70%;
  height: 40px;
  margin: 30px 0;
  padding: 20px;
}

.input-box input {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: white;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: white;
}

.wrapper .btn {
  width: 80%;
  height: 35px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: gray;
  margin: 25px;
  font-weight: 600;
}

